<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="layout/layout">

<body>
<div class="row wrapper border-bottom white-bg page-heading" th:fragment="pageTitle">
    <div class="col-sm-4">

        <h2>模板管理</h2>
    </div>
    <div class="col-sm-8">
        <!--页面按钮-->
        <div class="title-action">

        </div>
    </div>
</div>
<!--页面内容-->
<div class="wrapper wrapper-content animated fadeInRight" th:fragment="content">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>模板列表</h5>
                    <div class="ibox-tools">
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#mouldModal">新增模板</a>
                        <a href="#" class="btn btn-primary" onclick="reloadTable()">刷新</a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example"  id="mould_table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th class='th'><input type="checkbox" class="checkall" /></th>
                                <th>模板名称</th>
                                <th>模板后缀名</th>
                                <th>项目名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>数据库信息</h5>
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <form role="form" id="databaseModalForm">
                            <div class="form-group"><label>数据库ip</label> <input type="text" id="database_ip"  placeholder="请填写数据库ip" class="form-control" name="database_ip"></div>
                            <div class="form-group"><label>数据库名称</label> <input type="text" id="database_name"  placeholder="请填写数据库名称" class="form-control" name="database_name"></div>
                            <div class="form-group"><label>用户名</label> <input type="text" id="database_username"  placeholder="请填写用户名" class="form-control" name="database_username"></div>
                            <div class="form-group"><label>密码</label> <input type="text" id="database_password"  placeholder="请填写密码" class="form-control" name="database_password"></div>
                            <div class="form-group " ><label>数据库表</label>  <button   style="margin-left: 20px" type="button" class="btn btn-primary btn-xs" onclick="initTables()">加载数据表</button>
                                <select class="form-control" multiple="multiple" id="table_select">

                                </select>
                            </div>

                            <button type="button" class="btn btn-primary" onclick="createCode()">确定</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div  th:fragment="modal">
    <div class="modal inmodal fade in" id="mouldModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; padding-right: 17px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"  onclick="clearForm();">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">模板表单</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="mouldForm">
                        <input type="hidden" id="form_id" name="id">
                        <div class="form-group"><label>模板名称</label> <input type="text" id="form_name"  placeholder="请填写模板名称" class="form-control" name="name"></div>
                        <div class="form-group"><label>模板后缀名</label> <input type="text" id="form_suffix"  placeholder="请填写模板后缀名" class="form-control" name="suffix"></div>
                        <div class="form-group"><label>所属项目</label> <input type="text" id="form_project"  placeholder="请填写所属项目" class="form-control" name="project"></div>
                        <div class="form-group"><label>模板内容</label>
                            <textarea placeholder="" rows="20" class="form-control" id="form_content" name="content"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal" onclick="clearForm();">关闭</button>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div  th:fragment="jsDiv">
    <script th:src="@{/js/business/mould.js}"></script>
</div>
</body>

</html>
